#sub {
  width: 100%;
}
#sub #delivery {
  width: 100%;
}
#sub #delivery .container {
  width: 100%;
}
#sub #delivery .container .content {
  width: 100%;
}
#sub #delivery .container .content .image0 {
  width: 100%;
}
#sub #delivery .container .content .image0 .image-box {
  width: 100%;
}
#sub #delivery .container .content .image0 .image-box img {
  width: 100%;
}
#sub #delivery .container .content .image1 {
  width: 100%;
  background-color: #eae6e2;
}
#sub #delivery .container .content .image1 .image-box {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#sub #delivery .container .content .image1 .image-box img {
  width: 100%;
}
#sub #delivery .container .content .image2 {
  width: 100%;
  background-color: #fff;
}
#sub #delivery .container .content .image2 .image-box {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#sub #delivery .container .content .image2 .image-box img {
  width: 100%;
}
#sub #delivery .container .content .image3 {
  width: 100%;
  background-color: #fff;
}
#sub #delivery .container .content .image3 .image-box {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#sub #delivery .container .content .image3 .image-box img {
  width: 100%;
}
#sub #delivery .container .content .image4 {
  width: 100%;
  background-color: #d8d1df;
}
#sub #delivery .container .content .image4 .image-box {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#sub #delivery .container .content .image4 .image-box img {
  width: 100%;
}
#sub #delivery .container .content .image5 {
  width: 100%;
  background-color: #e9e7f1;
}
#sub #delivery .container .content .image5 .image-box {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#sub #delivery .container .content .image5 .image-box img {
  width: 100%;
}
#sub #delivery .container .content .image6 {
  width: 100%;
  background-color: #e9e7f1;
}
#sub #delivery .container .content .image6 .image-box {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#sub #delivery .container .content .image6 .image-box img {
  width: 100%;
}