#sub {
    width: 100%;
    #delivery {
        width: 100%;
        .container {
            width: 100%;
            // margin: 0 auto;
            // max-width: 1050px;
            .content {
                width: 100%;
                .image0 {  
                    width: 100%;
                    .image-box {
                        width: 100%;
                        img {
                            width: 100%; 
                        }
                    }                   
                }
                .image1 {
                    width: 100%;                  
                    background-color: #eae6e2;
                    .image-box {
                        width: 100%;
                        max-width: 1050px;
                        margin: 0 auto;
                        img {
                            width: 100%;  
                        }
                    }                   
                }
                .image2 {
                    width: 100%;                  
                    background-color: #fff;
                    .image-box {
                        width: 100%;
                        max-width: 1050px;
                        margin: 0 auto;
                        img {
                            width: 100%;  
                        }
                    }                   
                }
                .image3 {
                    width: 100%;                  
                    background-color: #fff;
                    .image-box {
                        width: 100%;
                        max-width: 1050px;
                        margin: 0 auto;
                        img {
                            width: 100%;  
                        }
                    }                   
                }
                .image4 {
                    width: 100%;                  
                    background-color: #d8d1df;
                    .image-box {
                        width: 100%;
                        max-width: 1050px;
                        margin: 0 auto;
                        img {
                            width: 100%;  
                        }
                    }                   
                }
                .image5 {
                    width: 100%;                  
                    background-color: #e9e7f1;
                    .image-box {
                        width: 100%;
                        max-width: 1050px;
                        margin: 0 auto;
                        img {
                            width: 100%;  
                        }
                    }                   
                }
                .image6 {
                    width: 100%;                  
                    background-color: #e9e7f1;
                    .image-box {
                        width: 100%;
                        max-width: 1050px;
                        margin: 0 auto;
                        img {
                            width: 100%;  
                        }
                    }                   
                }               
            }
        }
    }
}